<div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li class="menu-title">Navigation</li>

                    <li>
                        <!-- <a href="javascript: void(0);" class="waves-effect">
                            <i class="remixicon-dashboard-line"></i>

                            <span> Trang chủ </span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="index.html">Dashboard 1</a>
                            </li>

                        </ul> -->
                        <a href="index.html" class="waves-effect">
                            <i class="remixicon-home-2-line"></i>

                            <span> Trang chủ </span>
                        </a>

                    </li>


                    <li>
                        <a href="javascript: void(0);" class="waves-effect">
                            <i class="remixicon-inbox-fill"></i>
                            <span> Sản phẩm </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="ProductManager.html">Quản lí sản phẩm</a>
                            </li>
                            <li>
                                <a href="CategoryManager.html">Quản lí danh mục</a>
                            </li>
                            <li>
                                <a href="PostManager.html">Quản lí bài viết</a>
                            </li>
                            <li>
                                <a href="OrderManager.html">Quản lí đơn hàng</a>
                            </li>


                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="waves-effect">
                            <i class="remixicon-user-line"></i>
                            <span> Tài khoản </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="apps-kanbanboard.html">Thông tin </a>
                            </li>
                            <li>
                                <a href="apps-companies.html">Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a href="apps-calendar.html">Đăng xuất</a>
                            </li>

                        </ul>
                    </li>
                    </ul>
        </div>
    </div>
</div>
