 <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item nav-effect"><a href="http://localhost:5000/">Admin</a></li>
                                        <li class="breadcrumb-item nav-effect"><a href="javascript: void(0);">Sản phẩm</a></li>
                                        <li class="breadcrumb-item active">Quản lí sản phẩm</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Quản lí sản phẩm</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">

                                <a href="/addProduct">
                                    <!--for add new product-->

                                    <div class="fileupload btn btn-success waves-effect waves-light mb-3">
                                        <span><i class="mdi mdi-library-plus"></i> Thêm mới</span>
                                        <!-- <input type="file" class="upload"> -->
                                    </div>
                                </a>
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0">
                                        <thead class="font-13 bg-light text-muted">
                                            <tr>
                                                <th class="font-weight-medium">
                                                    <i class="far fa-image"></i></th>

                                                <th class=" font-weight-medium">Tên sản phẩm</th>
                                                <th class=" font-weight-medium">Mã sản phẩm</th>
                                                <th class="font-weight-medium">Danh mục</th>
                                                <th class="font-weight-medium">Hãng sản xuất</th>
                                                <th class="font-weight-medium">Xuất xứ</th>
                                                <th class="font-weight-medium">Giá cả</th>
                                                <th class="font-weight-medium">Tình trạng</th>
                                                <th class="font-weight-medium text-center" style="width: 125px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="\images\gachSanNuoc.jpg" height="30" alt="icon" class="mr-2">

                                                </td>
                                                <td>GẠCH SÀN NƯỚC NHẬP KHẨU</td>
                                                <td>PISTANO_F</td>
                                                <td>GẠCH SÀN NƯỚC</td>
                                                <td>ẤN ĐỘ</td>
                                                <td>ẤN ĐỘ</td>
                                                <td>Thương lượng</td>
                                                <td class="status"><strong>Còn hàng</strong></td>

                                                </td>
                                                <td>
                                                    <a href="javascript:void(0);" class="btn btn-link font-18 text-muted btn-sm">
                                                        <i class="mdi mdi-close"></i>
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-link font-18 text-muted btn-sm">
                                                        <i class="mdi mdi-pencil"></i>
                                                    </a>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div>
                <!-- container -->

            </div>
            <!-- content -->

            <!-- Footer Start -->
           

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

